//
@flashcard-bg: #428bca;

@import "bootstrap";


body {
  color: @text-color;
  font-size: 12px;

  &.background {
    background: url('/_static/img/bg-greypattern.png') no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
  }

  .background:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}



#app-container {
  .make-row();

  .make-xs-column-offset(3);
  .make-xs-column(6);

  background: @body-bg;
  text-align:center;
  padding: 5px;

  #repos, #profile, #header {

  }

  #repos {

    #repo-table {
      td {
        text-align: left;
      }
      .branches {
        width: 300px;

        .branch-list {
          width: 300px;
        }
        span.label {
          display: inline-block;
        }
      }
    }

  }


}
