<input type="text" class="form-control" name="login" placeholder="Github login (e.g. 'nick')" value=""/>
<span class="input-group-btn">
  <button class="btn btn-default" type="button">Pull!</button>
</span>

