<span class="input-group-addon">Github Username:</span>
<input type="text" class="form-control" name="login" placeholder="Github login
(e.g. 'nick')" autofocus/>
<span class="input-group-btn">
  <button class="btn btn-primary" type="button">Pull!</button>
</span>

