<table class="table table-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Collaborators</th>
      <th>Last Update</th>
    </tr>
  </thead>

  <!-- want to insert collection items, here -->
  <tbody></tbody>

  <!--<tfoot>
    <tr>
      <td colspan="3">some footer information</td>
    </tr>
  </tfoot>
  -->
</table>
